.container{
	margin:0 auto;
	height:500px;
	width: 900px;
	text-align: center;

}
.season-1{
	background: url("images/winter2.jpeg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


ul{
	list-style-type: decimal;
	font-size: 30px;
}
li{
	padding: 10px;
}
.season-2{
	background: url("images/spring1.jpeg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

